//Color cube
$white: #fff;
$mineShaft: #272727;
$gray: #868686;
$scarlet: #f72b0c;
$cloud: #c6c1bd;
$greybg: #f3f3f3;
$froly: #f0776b;

//Median cut
$masala: #403d3b;
$dustStorm: #e4cdc9;
$naturalGrey: #8b8a87;
$dustGrey: #9c9c9c;
$sushi: #86b54a;

//Material design
$chicago: #5d5d5c;
$thunderbird: #bf351f;
$black: #040404;
$burntSienna: #e97c62;
