* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.container {
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
}

.container-fluid {
  width: 100%;
  border: 1px solid red;
}
